{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<!-- card section -->
<div class="card" style="width: 1000px; margin: 10px">
  <img src="{{car_model.image.url}}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Model Name : {{car_model.car_name}}</h5>
    <p class="card-text">Descriptions : {{car_model.car_descriptions}}</p>
    <p class="card-text">Price : {{car_model.car_price}}</p>
    <p class="card-text">Available : {{car_model.quantity}}</p>
    <h5 class="card-text">
      <strong>Brand : </strong>{{car_model.brand.model_name}}
    </h5>
    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'buy_car' car_model.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Buy Now</button>
    </form>
    {% endif %}
  </div>
</div>

<div class="card m-2">
  <h5 class="p-3">Total Comments : {{comments | length}}</h5>
  {% for comment in comments %}
<div class="card-body border m-2">
      <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
      <p>{{comment.body}}</p>
  </div>
  {% endfor %}
</div>
<div class="card m-2">
  <div class="card-body">
      <form method="post">
          <h1>Add Comment</h1>
          {% csrf_token %}
          {{comment_form | crispy}}

          <button class="btn btn-warning">Submit</button>
  </div>
</div>

{% endblock %}
